@import "foundation_settings";

ul.index {
  list-style-type:none;
  margin-left: 0;
  li {
    display:block;
    padding:0.5em 0;
    &:first-child {
      padding-top:0;
    }
    a {
      font-weight: bold;
    }
  }
  li:first-child {padding-top:0;}
}
.index-post {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-color: $borderColor;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;

  .comments {
    margin-top: 1em;
  }
}
article {
  @include base-font;
  header {
    @include base-font;
    margin-bottom: 2.25em;
  }
  h3,h4,h5 {
    margin-top: .5em;
  }
  p {
    color: $main-color;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.profile {
  padding-bottom: 2em;
  text-align: center;

  img { width: 30%; }
  .profile-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}

