@import "foundation_settings";

body {
  padding: 0 0 2em;

  @include base-font;
  h1,h2,h3,h4,h5,h6 {
    @include header-font;
    a {
      @include header-link-colors;
    }
  }
  a {
    @include link-colors;
  }
  .logo {
    font-family: "courier-prime",monospace;
    color: $main-color !important;
    font-size:rem-calc(25);
    &:hover {
      color: $secondary-color;
    }
  }
}
code {
  // background-color: rgba(0,0,0,0.04);
  background-color: $light-grey-color;
  font-size: .8em;
  padding: 0.2em 0.3em;
}

.clearfix {
  overflow: auto;
}
.share { margin-top: 1em; }

.margin-top { margin-top: 1em; }
.margin-bottom { margin-bottom: 1em; }

.font-light { color:$grey-color; }

.text-center { text-align: center; }

.subtle { color: $subtle-color; }

.alt-title {
  @include header-font;
  font-size: 1.2rem;
  color: $subtle-color;
}

img {
  &.th.center {
    display:block;
    margin: 0 auto 1em;
  }
}
.center-inline-list {
  float:left;
  width:100%;
  background:#fff;
  overflow:hidden;
  position:relative;

  .inline-list {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
    overflow: visible;

    > li {
      display:block;
      float:left;
      list-style:none;
      position:relative;
      right:50%;
    }
  }
}
#application {
  @include base-font;
  @media #{$small-up} {
    .top-bar .name h1 a { padding: 0 15px; }
  }
  header {
    text-align: left;
    h1 { margin: 0; line-height:60px; font-size: 2.25em; }
    @media #{$small} {
      h1 { line-height:100px;}
    }
    h1,h2,h3,h4,h5,h6 {
      color: $main-color;
      @include header-font;
      @include header-link-colors;
      a {
        @include header-font;
        @include header-link-colors;
      }

    }
    p { margin: 0;}
  }

  footer {
    @include clearfix;
    border-width: 1px 0 0;
    border-color: #CCC;
    border-style: solid;
    padding: 2em 0;
  }

  .pagination {
    .columns {
      margin-bottom: 1rem;
    }
  }
}

#zen {
  @include header-font;
  line-height: 80px;
  background-color: $light-grey-color;
  margin-bottom:2em;
  text-align: center;
}

#main {
  @include base-font;
  padding-bottom:1em;
  margin-top:1em;
  margin-bottom:1em;
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: $main-color;
    @include header-font;
    a {
      @include header-font;
    }
    &.subtle {
      font-weight:normal;
      color: $subtle-color;
    }
  }
  h2 {
    color: black;
    font-weight: bold;
    margin-top:0;
    small {
      font-weight: normal;
    }
    a {
      color: black;
    }
  }

  pre {
    code {
      overflow:auto;
      margin-bottom:1.25em;
      font-weight:normal;
      line-height:1.45em;
      font-size:1em;
      padding: 1.25em;
    }
  }
}

#sidebar {
  ul {
    list-style-type: none;
    margin-left: 0;
  }
}

