@mixin base-font {
  font-family: $body-font-family;
}
@mixin header-font {
  font-family: $header-font-family;
}
@mixin signature-font {
  font-family: $signature-font;
}
@mixin link-colors {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

@mixin header-link-colors {
  color: $main-color;
  &:hover {
    color: $secondary-color;
  }
}
