<%# navigation styled for Zurb Foundation 5 %>
<nav id="welcome-nav" class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a class="" href="/">after school</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="/about">about</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/feed.xml">feed</a></li>
    </ul>
  </section>
</nav>
<div id="zen">
  <div class="row">
    <div class="enlightenment large-12 columns">
    </div>
  </div>
</div>
