<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "School" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="row">
      <main id="main" role="main" class="large-12 small-12 columns">
        <%= yield %>
      </main>
      <section id="sidebar" role="sidebar" class="large-12 small-12 columns">
      </section>
    </div>
    <div class="row">
      <footer>
        <section class="large-12 columns center-inline-list">
          <ul>
            <li><%= link_to 'Archives', posts_path %></li>
          </ul>
        </section>
      </footer>
    </div>
  </body>
</html>
